header h1 {
    font-size:3rem;
}

header p {
    font-size:1.3rem;
}

h1,h2,h3 {
    font-weight:400;
    color:#0787ad;
    padding-bottom:10px;
}

section {
    background-color:#ebd3edfd;
    padding:20px;
    border-radius:20px;
}

section:nth-of-type(odd) {
    background-color:#d0ecf5fd;
    padding:20px;
    border-radius:20px;
}
